
extends main_layout
block content
	nav.navbar.navbar-primary.navbar-transparent.navbar-absolute
		.container
			.navbar-header
				button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') Video Class
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/')
							i.material-icons home
							|  Home
	.wrapper.wrapper-full-page
		.full-page.login-page(filter-color='black' data-image='/images/login.jpeg')
			// you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose "
			.content#login
				.container
					.row
						.col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
							form#signup.form-horizontal(method='post')
								.card.card-login.card-hidden
									.card-header.text-center(data-background-color='rose')
										h4.card-title Login
										.social-line

									p.category.text-center
										| Visit Our Class
									.card-content
										.input-group
											span.input-group-addon
												i.material-icons email
											.form-group.label-floating
												label.control-label Email address
												input.form-control(type='email' id='email-tf' name='email' value='')
										.input-group
											span.input-group-addon
												i.material-icons lock_outline
											.form-group.label-floating
												label.control-label Password
												input.form-control(type='password' id='pass-tf' name='pass' value='')
									.footer.text-center
										//button.btn.btn-rose.btn-simple.btn-wd.btn-lg(type='submit') Let&apos;s go
										.form-group
											.col-md-5
												input.btn.btn-rose.btn-simple.btn-wd.btn-lg(name='Submit' type='submit' value='Sign In')
											#create-account.text-left.col-md-4
												a.btn.btn-rose.btn-simple.btn-wd.btn-lg(href='/signup') Sign Up
											#forgot-password.col-md-12
												a.btn.btn-rose.btn-simple.btn-wd.btn-lg(href='#') reset password
			footer.footer
				.container
					p.copyright.pull-right
						| &copy;
						script.
							document.write(new Date().getFullYear())
						a(href='') Video Class
						| , made with love for a better web

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/javascripts/demo.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')