extends main_layout

block content
    - categorys = typeof(cdata) != 'undefined' ? cdata : { }
    .wrapper
        .sidebar(data-active-color='rose' data-background-color='black' data-image='../../assets/img/sidebar-1.jpg')
            .logo
                a.simple-text(href='/')
                    | Video Class
            .logo.logo-mini
                a.simple-text(href='/')
                    | V C
            .sidebar-wrapper
                ul.nav
                    li
                        a(href='/usermanage')
                            i.material-icons dashboard
                            p Gestión de Usuarios
                    li.active
                        a(href='/category')
                            i.material-icons widgets
                            p Categorías
        .main-panel
            nav.navbar.navbar-transparent.navbar-absolute
                .container-fluid
                    .navbar-minimize
                        button#minimizeSidebar.btn.btn-round.btn-white.btn-fill.btn-just-icon
                            i.material-icons.visible-on-sidebar-regular more_vert
                            i.material-icons.visible-on-sidebar-mini view_list
                    .navbar-header
                        button.navbar-toggle(type='button' data-toggle='collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')  Categories
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a.btn.btn-primary#btn-logout(href='/logout') Log Out
            .content
                .container-fluid
                    .row
                        .col-md-12
                            .card
                                .card-header.card-header-icon(data-background-color='purple')
                                    i.material-icons assignment
                                .card-content
                                    h4.card-title Category list
                                    .toolbar
                                        button.btn.btn-info(type='button' data-toggle="modal" data-target="#add-category" style='float: right; margin-right: 20px;' onclick="")
                                            i.material-icons add
                                            | Add Category
                                    .material-datatables
                                        table#datatables.table.table-striped.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                            thead
                                                tr
                                                    th Nombre o Category
                                                    th Fecha De Creacion
                                                    th.disabled-sorting.text-center Actions
                                            tbody
                                                if categorys.length
                                                    each item in categorys
                                                        tr
                                                            td #{item['name']}
                                                            td #{item['date']}
                                                            td.text-center
                                                                a.btn.btn-simple.btn-warning.btn-icon.edit(href='', data-id=item["_id"] data-toggle="modal" data-target="#edit-category" onclick='setEditCategory(this)')
                                                                    i.material-icons edit
                                                                a.btn.btn-simple.btn-danger.btn-icon.remove(href='/categorydel?id=' + item["_id"], onclick='return confirm("You are going to delete this record. Continue?")')
                                                                    i.material-icons delete


    //include account
    include modals/add-category
    include modals/edit-category
    include modals/alert
    include modals/confirm

block scripts
    script(src='/js/views/category.js')
    //script(src='/js/form-validators/accountValidator.js')