doctype html
html
	head
		title Video Class
		//link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel='stylesheet', href='/css/style.css')
		//link(rel='stylesheet', href='/css/gh-fork-ribbon.min.css')
	body

		block content
		script(src="/js/jquery-1.11.1.min.js")
		script(src="/js/popper.min.js")
		script(src="/js_/bootstrap.min.js")
		script(src="/js/jquery.form.min.js")
		block scripts