doctype html
html
    head
        title Video Class

        link(rel='stylesheet', href='/stylesheets/login/css.css')
        link(rel='stylesheet', href='/stylesheets/login/all.css')
        link(rel='stylesheet', href='/stylesheets/login/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/login/now-ui-kit.css?v=1.2.0')
        link(rel='stylesheet', href='/stylesheets/login/demo.css')

    body
        block content

        script(src="/javascripts/login/jquery.min.js")
        script(src="/javascripts/login/popper.min.js")
        script(src="/javascripts/login/bootstrap.min.js")
        script(src="/javascripts/login/nouislider.min.js")
        script(src="/javascripts/login/bootstrap-datepicker.js")
        script(src="/javascripts/login/now-ui-kit.js")
        script(src="/js/jquery.form.min.js")
        script(src="/js/jquery.form-validator.min.js")

    block scripts