doctype html
html
	head
		title Video Class
		//link(rel='stylesheet', href='/css/font-awesome.min.css')
		//link(rel="stylesheet" href="/css/bootstrap.min.css")
		//link(rel='stylesheet', href='/css/style.css')
		//link(rel='stylesheet', href='/css/gh-fork-ribbon.min.css')


		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/material-dashboard.css')
		link(rel='stylesheet', href='/stylesheets/demo.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/css.css')


	body
		block content

		script(src="/javascripts/jquery-3.1.1.min.js")
		script(src="/javascripts/jquery-ui.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/material.min.js")
		script(src="/javascripts/perfect-scrollbar.jquery.min.js")
		script(src="/javascripts/jquery.validate.min.js")
		script(src="/javascripts/moment.min.js")
		script(src="/javascripts/jquery.bootstrap-wizard.js")
		script(src="/javascripts/bootstrap-notify.js")
		script(src="/javascripts/bootstrap-datetimepicker.js")
		script(src="/javascripts/jquery.select-bootstrap.js")
		script(src="/javascripts/jquery.datatables.js")
		script(src="/javascripts/sweetalert2.js")
		script(src="/javascripts/jasny-bootstrap.min.js")
		script(src="/javascripts/jquery.tagsinput.js")
		script(src="/javascripts/material-dashboard.js")
		script(src="/js/jquery.form.min.js")
		script(src="/js/jquery.form-validator.min.js")

	block scripts