
extends main_layout

block content
	nav.navbar.navbar-primary.navbar-transparent.navbar-absolute
		.container
			.navbar-header
				button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') Video Class
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/')
							i.material-icons home
							|  Home
	.wrapper.wrapper-full-page
		.full-page.register-page(filter-color='black' data-image='/images/register.jpeg')
			.container#account-form-container
				.row
					.col-md-6.col-md-offset-3
						.card.card-signup
							h2.card-title.text-center Register
							.row
								.col-md-12
									form#account-form.form-horizontal(method='post')
										.card-content
											.input-group
												span.input-group-addon
													i.material-icons email
												input#email-tf.form-control(type='email' name='email' placeholder='Enter your Email ID' value='')
											.input-group
												span.input-group-addon
													i.material-icons lock_outline
												input#pass-tf.form-control(type='password' name='pass' placeholder='Password...' value='')
											//.input-group
											//	span.input-group-addon
											//		i.material-icons lock_outline
											//	input#pass-tf.form-control(type='password' name='pass' placeholder='Password...' value='')
											// If you want to add a checkbox to this form, uncomment this code
											.input-group
												span.input-group-addon
													i.material-icons phone
												input#contactnum-tf.form-control(type='text' name='contactnum' placeholder='Enter your Primary contact no.' value='')
											.input-group
												span.input-group-addon
													i.material-icons business
												input#institution-tf.form-control(type='text' name='institution' placeholder='institution' value='')

											//
											//.checkbox
											//	label
											//		input(type='checkbox' name='optionsCheckboxes' checked='')
											//		|  I agree to the
											//		a(href='#something') terms and conditions
											//		| .
										.footer.text-center
											//a.btn.btn-primary.btn-round(href='#pablo') Get Started
											input#account-form-btn2.btn.btn-primary.btn-round(name='Submit' type='submit' value='Sign Up')
			footer.footer
				.container
					p.copyright.pull-right
						| &copy;
						script.
							document.write(new Date().getFullYear())
						a(href='/') Creative Tim
						| , made with love for a better web

	//include account
	include modals/form-errors
	include modals/alert

block scripts
	script(src='/javascripts/demo.js')
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')