// - user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= '')#userId
input(type='hidden', value= '')#mainPageUrl

#edit-user.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true')
					i.material-icons clear
				h4.modal-title Add User
			.modal-body#editform
				form#editUserFrm(method="post" action='edituser')
					.form-group
						label Email
						input.form-control(type='email' id='edit-email-tf' name='email'  value='' data-validation='email').required
						.alert.alert-danger.hide
					.form-group
						label name or alias
						input.form-control(type='text' id='edit-name-tf' name='name'  value='').required
						.alert.alert-danger.hide
					input#editBtn.btn.btn-primary(style='float:right' name='Submit' type='submit' value='Update')
				#loginResult.col-12.mb-3
			.modal-footer
				//button(type="submit" form="add-user-form")#add-user-submit.btn.btn-primary Save
